<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Book</title>
    <style>
        input,
        select {
            display: block;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <form th:object="${book}" th:action="@{savebook}" action="#" method="post">
        <h2>New Book</h2>
        <input type="text" id="title" th:field="*{title}" placeholder="Title" />
        <input type="text" id="author" th:field="*{author}" placeholder="Author" />
        <input type="text" id="publicationYear" th:field="*{publicationYear}" placeholder="Released" />
        <input type="text" id="isbn" th:field="*{isbn}" placeholder="isbn" />
        <input type="text" id="price" th:field="*{price}" placeholder="price" />
        <label for="categorylist">Category</label>
        <select id="categorylist" th:field="*{category}" class="form-control">
            <option th:each="category : ${categories}" th:value="${category.categoryid}" th:text="${category.name}">
            </option>
        </select>
        <input type="submit" value="Add" />
    </form>
</body>

</html>