<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of the Books</title>
</head>

<body>
    <h1>Books</h1>

    <table>
        <tr>
            <th>Author</th>
            <th>Title</th>
            <th>ISBN</th>
            <th>Released</th>
            <th>Price</th>
            <th>Category</th>
        </tr>
        <tr th:each="book : ${books}">
            <td th:text="${book.author}">Author</td>
            <td th:text="${book.title}">Title</td>
            <td th:text="${book.isbn}">ISBN</td>
            <td th:text="${book.publicationYear}">Year</td>
            <td th:text="${book.price} + ' ' + €">Price</td>
            <td th:text="${book.category.name}">Category</td>
            <td><a th:href="@{/deletebook/{bookid}(bookid=${book.bookid})}">Delete</a></td>
        </tr>
    </table>
</body>

</html>